<div class="flex flex-col justify-center items-center w-auto ">
<h1 class="text-4xl font-bold mb-6">Experience</h1>
<div class="mx-10">
  <h3 class="text-2xl">Full Stack Developer</h3>
  <p class="text-gray-500 mb-4">Smart Fenix</p>
  <p class="text-gray-700 mb-6">Developed and maintained web applications using modern frameworks and technologies.</p>
  
  <h3 class="text-2xl">Software Engineer Intern</h3>
  <p class="text-gray-500 mb-4">Tech Innovators</p>
  <p class="text-gray-700 mb-6">Assisted in the development of software solutions, focusing on backend services.</p>
</div>
<h3 class="text-2xl">Smart Fenix</h3>
</div>