---
import profileImg from '../assets/images/profile.jpg';
---
<div class="flex justify-center items-center w-auto">
<h1 class="text-6xl font-bold">Antonio Castillo</h1>
<img src={profileImg.src} alt="Logo" class="w-60 h-60 mx-4" />
</div>