---
import profileImg from '../assets/images/profile.webp';
---
<div class="flex justify-center items-center w-auto md:flex-row flex-col">
<div>    
<h1 class="mx-10 text-6xl font-bold">Antonio Castillo</h1>
<h4 class="mx-10 text-2xl font-semibold text-gray-500">Full Stack Developer</h4>
</div>
<img src={profileImg.src} alt="Logo" loading="lazy" 
class="w-80 h-80 rounded-full border-4 border-gray-900 overflow-hidden
transition-transform duration-300 hover:scale-110 md: mt-10" />
</div>