<div class="flex justify-center items-center mx-2 border-b-2 border-gray-800 py-4">
	
	<a class="mx-6" href="/">Home</a>
	<a class="mx-6" href="/about">About</a>
	<a class="mx-6" href="/contact">Contact</a>
	<a class="mx-6" href="/projects">Projects</a>
</div>