<div class="sticky">
	<div
		class="flex justify-center items-center mx-2 border-b-2 border-gray-800 py-4"
	>
		<a class="mx-6 border-x-2 border-cyan-900 px-2" href="/">Home</a>
		<a class="mx-6 border-x-2 border-cyan-900 px-2" href="/about">About</a>
		<a class="mx-6 border-x-2 border-cyan-900 px-2" href="/contact"
			>Contact</a
		>
		<a class="mx-6 border-x-2 border-cyan-900 px-2" href="/projects"
			>Projects</a
		>
	</div>
</div>
