<div class="bg-blue-900 shadow-lg rounded-lg w-90 h-96 flex flex-col overflow-hidden group relative p-0">
  <!-- Imagen superior: visible solo cuando NO hay hover -->
  <div class="w-full h-24 filter brightness-75 transition-all duration-300 flex-shrink-0 absolute top-0 left-0 group-hover:opacity-0 group-hover:pointer-events-none">
    <slot name="image" />
  </div>
  <!-- Descripción: aparece sobre la imagen al hacer hover -->
  <div class="absolute w-full h-24 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 px-4">
    <p class="text-white text-sm  w-full">
      <slot name="description" />
    </p>
  </div>
  <!-- Espacio flexible para empujar el contenido abajo -->
  <div class="flex-1"></div>
  <!-- Título, skills y links siempre abajo -->
  <div class="px-6 pb-6 pt-2">
    <h3 class="text-xl font-semibold mb-2 text-center">
      <slot name="title" />
    </h3>
    
    <div class="mt-2 flex justify-center">
      <slot name="links" />
    </div>
    <div class="flex gap-2 justify-center">
      <slot name="skills" />
    </div>
  </div>
</div>